.list {
    display: flex;
    gap: 15px;
    list-style: none;

}

.list li {
    cursor: pointer;
    font-weight: 500;
}

.list li:hover {
    color: darkgreen
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(21, 51, 70);
    padding: 10px 44px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 60px;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .list {
        flex-direction: column;
        width: 100%;
    }

    .list li {
        width: 500px;
        height: 30px;
        text-align: center;
    }

    .list li:hover {
        background-color:  rgb(23, 46, 61);
        color: whitesmoke
    }
}