.list {
    display: flex;
    gap: 15px;
    list-style: none; 

}

.list li{
      cursor: pointer;
      font-weight: 500;
}

.list li:hover{
    color: firebrick
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(21, 51, 70);
    padding: 10px 44px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 60px;
    align-items: center;
}

